:root {
  /* Brand Scale (Violets) */
  --scheme-brand-100: #1a0331;
  --scheme-brand-200: #330662;
  --scheme-brand-300: #450677;
  --scheme-brand-400: #57068c;
  --scheme-brand-500: #702b9d;
  --scheme-brand-600: #7b5aa6;
  --scheme-brand-700: #8900e1;
  --scheme-brand-800: #9b42e6;
  --scheme-brand-900: #ab82c5;
  --scheme-brand-1000: #d5c1e2;
  --scheme-brand-1100: #eee6f3;
  --scheme-brand-1200: #f7f3f9;
  --scheme-brand-600-10: rgba(123, 90, 166, 0.1);
  --scheme-brand-600-30: rgba(123, 90, 166, 0.3);
  --scheme-brand-600-50: rgba(123, 90, 166, 0.5);

  /* Neutral Scale (Grays + Black & White) */
  --scheme-neutral-100: #000000;
  --scheme-neutral-200: #1a1a1a;
  --scheme-neutral-300: #2b2b2b;
  --scheme-neutral-400: #404040;
  --scheme-neutral-500: #575757;
  --scheme-neutral-600: #6d6d6d;
  --scheme-neutral-700: #939393;
  --scheme-neutral-800: #b8b8b8;
  --scheme-neutral-900: #d6d6d6;
  --scheme-neutral-1000: #e8e8e8;
  --scheme-neutral-1100: #f2f2f2;
  --scheme-neutral-1200: #ffffff;
  --scheme-neutral-600-10: rgba(109, 109, 109, 0.1);
  --scheme-neutral-600-30: rgba(109, 109, 109, 0.3);
  --scheme-neutral-600-50: rgba(109, 109, 109, 0.5);

  /* Accent Scale (Magenta) */
  --scheme-accent-100: #320318;
  --scheme-accent-200: #640630;
  --scheme-accent-300: #960948;
  --scheme-accent-400: #c80c60;
  --scheme-accent-500: #fb0f78;
  --scheme-accent-600: #fc3f93;
  --scheme-accent-700: #fd6fae;
  --scheme-accent-800: #fd9fc9;
  --scheme-accent-900: #fecfe4;
  --scheme-accent-1000: #ffe7f2;
  --scheme-accent-1100: #fff3f9;
  --scheme-accent-1200: #fffafa;
  --scheme-accent-600-10: rgba(252, 63, 147, 0.1);
  --scheme-accent-600-30: rgba(252, 63, 147, 0.3);
  --scheme-accent-600-50: rgba(252, 63, 147, 0.5);
}